body{
	font-size: 20px;
}
#header-nav {
	background-color: #AEB6BF;
	border-radius: 0;
	border: 0px;
	border: 2px solid black;
	width: 100%;
	padding: 0px;
}
#company {
	font-size: 30px;
}

#heading {
    margin-top: 10px;
	text-align: center;
}
#main-content {
	margin-right: 5px;
	margin-left: 5px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
	}
.col-lg-12 {
	position: relative;
	width: 100%;
	height: auto;
    padding-right: 15px;
    padding-left: 15px;
    border: 2px solid black;
    margin-top: 20px;
}
#inside-content {
	margin-top: 10px;
}
#Chicken ,#Beef, #Sushi {
	    background-color:#AEB6BF;
}
/*<--- header --->*/
@media (min-width: 768px) {

#navbarSupportedContent {
	display: block;
}
#item-list {
	display: none;
}
.item-color {
	color: #AEB6BF;
}
.navbar-brand button.navbar-toggler,.navbar-brand .navbar-toggler-icon {
	border: 1px solid black;
	background-color: #AEB6BF;
}
button.navbar-toggler {
	clear: both;
}
}
@media (max-width: 767px) {
 #navbarSupportedContent{
 	margin-right: 0px;
	text-align: center;
 	background-color: #d3d3d3;
 }
 #item-list {
 	width: 100%;
 }
}

